# R / RStudio
.Rproj.user
.Rhistory
.RData
.Ruserdata

/.quarto/
.Rdata
.httr-oauth
.DS_Store

# Quarto build output
_site/
_freeze/
**/*_files/
*.knit.md
*.utf8.md

# renv (installed libs)
renv/library/

# Node.js
node_modules/


# Quarto portable artifacts
quarto-*-linux-amd64.tar.gz
quarto-*-linux-amd64/
quarto-*/

# ignore local Quarto bundles
quarto-*/
*.tar.gz
